-e .
-e git://github.com/ecreall/dace.git@docs#egg=ecreall_dace
backports-abc==0.5
BTrees==4.4.1
Chameleon==3.1
colander==1.4
cryptacular==1.4.1
deform==2.0.4
hupper==1.0
hypatia==0.3
iso8601==0.1.12
Mako==1.0.7
MarkupSafe==1.0
mock==2.0.0
PasteDeploy==1.5.2
pbkdf2==1.3
pbr==3.1.1
peppercorn==0.5
persistent==4.2.4.2
plaster==0.5
plaster-pastedeploy==0.4.1
Pygments==2.2.0
pyramid==1.9.1
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.3
pyramid-mailer==0.15.1
pyramid-mako==1.0.2
pyramid-tm==2.2
pyramid-zodbconn==0.8.1
python-magic==0.4.13
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
repoze.lru==0.7
repoze.sendmail==4.4.1
rwproperty==1.0
six==1.11.0
statsd==3.2.1
substanced==1.0a1
tornado==3.2.2
transaction==2.1.2
translationstring==1.3
Unidecode==0.4.21
venusian==1.1.0
waitress==1.0.2
walkabout==0.10
WebOb==1.7.3
zc.lockfile==1.2.1
ZConfig==3.2.0
zdaemon==4.2.0
ZEO==5.1.0
ZODB==5.3.0
zodbpickle==0.7.0
zodburi==2.2.2
zope.component==4.4.0
zope.copy==4.1.0
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.4.3
zope.processlifetime==2.2.0
